/* base */
* {
	margin:0px;
	padding:0px;
}

body{ 
	font-size:12px; 
	color:#000; 
	font-family:helvetica, arial, sans-serif;
	padding-bottom: 30px;
	text-align:center;
}

/** cabecalho **/
#cabecalho, header{
	background-color:#ccc;
	height: 90px;
	position: relative;
}

#logoCompany {
	float:left;
	position: absolute;
	top: 13px;
	left: 50%;
	margin-left: -580px;
}

#usuarioLogado  {
	color: white;
	display: block;
	float: right;
	right: 50%;
	margin-right: -450px;
	position: absolute;
	top: 35px;
	font-weight:bold;
	font-size:13px;
}

#j_idt9 a,
#j_idt10 a,
#j_idt11 a{
	text-decoration:none !important;
	position:relative;
	left:-4px;
	top:5px
}

#j_idt9 a:hover,
#j_idt10 a:hover,
#j_idt11 a:hover{
	text-decoration:underline !important;
}

#usuarioLogado a {
	color: #ffff60;
	padding-left: 5px;
	padding-right: 5px;
}

#usuarioLogado a:hover {
	text-decoration: none;
}

.jquery-ui-themeswitcher-trigger {
	position: absolute;
	float: right;
	top: 5px;
	right: 50%;
	margin-right: -450px;
}

/* miolo */
#conteudo, section {
	width:980px;
	height:auto;
	position:relative;
	padding:10px 0px;
	background-color:#FFF;
	margin: 0 auto;
}

/** rodape **/
#rodape, footer {
	background-color:#ccc;
	width:100%;
	position:fixed;
	bottom: 0;
	padding:10px 0px;
	text-align: center;
	font-size:10px;
	color:#FFF;
	display: block;
}

/* TITULO */
h2{
	display:block;
	position:relative;
	overflow:hidden;
	color:#2B2926;
	text-align:left;
	height:auto;
	margin-bottom:10px;
	border-bottom: 1px solid;
	clear: both;
	font-size: x-large;
	width: 100%;
}

/* FORM */
input, textarea, select {
	display: block;	
	margin-bottom: 3px !important;
}

textarea {
	width: 300px;
}

input:not(.ui-widget), textarea:not(.ui-widget), select {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	
	background:url("../resources/imagens/txt.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #999999;
	padding:5px 2px;
}

label:not(.ui-selectonemenu-label){
	display: block;
	float: left;
	margin-right: 20px;
	text-align: right;
}

input:after {
	clear: both;
}

.ui-spinner {
	float: left;
	margin-left: 303px;	
}

.ui-editor {
	margin-left: 140px;	
	margin-bottom: 5px;
	width: 600px !important;
}

input[type=submit], button {
	margin: 0 auto;
	margin-left: 140px;
}

input[type=submit] {
	background:url("../resources/imagens/fundo_botao.gif") repeat-x scroll 0 0 #2A2A2A;
	border:1px solid #272727;
	color:#FFFFFF;
	cursor:pointer;
	padding:3px;
	position: relative;
	/*! text-shadow:1px 1px 0 #000000; */
	
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

table button {
	margin: 0 4px;
}

.acoes {
	text-align: center;
}

form {
	margin-bottom:10px;
	position: relative;
	text-align: left;
}

form fieldset {
	padding: 10px 0px 10px 10px;
	margin: 5px 0 10px 0;
	text-align: left;
	width: 887px;
}

form .ui-fieldset {
	width: 873px;
}

.ui-tabs {
	clear: both;	
	margin-bottom: 20px;
}

.ui-tabs fieldset {
	width:830px;	
}

form fieldset legend {
	font-weight: bold;
	padding: 0px 5px;
}

form .campos {
	display:block;
	position:relative;
	overflow:hidden;	
}

/* tabela zebrada */

table.dados{
	height:auto;
	margin-bottom: 10px;
	width:100%;
}

table.dados tr th{
	background-color:#0B0F19;
	color:#fff;
	color:1em;
	padding:10px;
}

table.dados tr td{
	padding:5px 10px;
}

.campos tbody tr td {
	padding-top: 10px;
	text-align: left;
}

.dados {
	width: 100%;	
}

.par  {
	background-color: #F0F9FF;
}

.impar {
	background:none repeat scroll 0 0 #DDDDDD;
}

#formlogin td:nth-child(1){
	width: 50px!important;
	display:block !important;
	margin-top:5px
}

#formlogin\:login{
	background-color: #ccc !important;
	padding: 5px 15px;
	color:#000;
	font-weight: bold;
	border:1px solid #ddd;
	position: relative;
	left:-87px
}

#formlogin\:login:hover, #j_idt12\:formPesquisa\:j_idt17:hover, #j_idt12\:formSaida\:retirar:hover, #j_idt12\:formPesquisa\:j_idt16:hover{
	background-color: #ddd !important;
}

#j_idt12\:formPesquisa\:descricao{
	position:relative;
	left:47px
}

#j_idt12\:formPesquisa\:j_idt17{
	margin-bottom:15px !important;
	margin-top:15px;
	background-color: #ccc !important;
	border:1px solid #ddd;
	color:#000;
	font-weight:bold;
	padding: 5px 15px;
	position:relative;
	left:-10px
}

#j_idt12\:formPesquisa\:codigo{
	margin:10px !important
}

#j_idt12\:formSaida\:retirar,
#j_idt12\:form\:entrada{
	margin-top:15px;
	margin-bottom:15px !important;
	background-color:#ccc;
	color:#000;
	font-weight:bold;
	position:relative;
	left:-140px;
	padding:5px 15px;
	border:0
}

#j_idt12\:formPesquisa\:j_idt16{
	padding:5px 15px;
	margin-top:15px;
	margin-bottom:15px !important;
	position:relative;
	left:-10px;
	color:#000;
	background-color:#ccc;
	font-weight:bold;
	border:0
}

/* validacao */
.erros {
	margin: 0 0 10px 0;
	padding: 0 8px;
	clear: both;
}

.erros li {
	display: block;
	list-style-position: inside;
	list-style-type: none;
	color: #C22;
	background: #FFDFDF;
	border: 2px solid #DF7D7D;
	float: left;
	padding: 6px;
/* 	position: absolute; */
	/* margin: 3px; */
	top: 43px;
	left: 4px;
	/* margin-bottom: 10px; */
}

/* padrao do primefaces 5 eh inline-block, o que quebra nosso layout */
.ui-autocomplete {
	display: block!important;
}


#j_idt12\:formSaida\:tbl\:j_idt53,
#j_idt13\:form\:inserido_novo\:j_idt41,
#j_idt12\:form\:inserido\:j_idt86,
#j_idt13\:form\:inserido_novo\:j_idt39{
	position:relative;
	left:10px !important;
	top:5px
}

#j_idt12\:erroRetirada,
#j_idt12\:erro_novo{
	font-size:14px;
	font-weight:bold;
	display:block;
	margin-bottom:15px
}

#j_idt12\:form\:message{
	padding:5px 15px;
	margin-top:15px;
	margin-bottom:15px !important;
	position:relative;
	left:-140px;
	background-color:#ccc;
	border:0;
	color:#000;
	font-weight:bold;
}


#j_idt12\:form\:message:hover,
#j_idt13\:form\:novoProduto:hover,
#j_idt13\:form\:voltarPesquisa:hover,
#j_idt13\:formPesquisa\:j_idt16:hover,
#j_idt13\:formSaida\:retirar:hover,
#j_idt13\:form\:entrada:hover{
	background-color:#ddd
}

#j_idt13\:form\:novoProduto,
#j_idt13\:form\:voltarPesquisa{
	padding:5px 15px;
	border:0;
	color:#000;
	font-weight:bold;
	background-color:#ccc;
	position:relative;
	left:-140px
}

#j_idt13\:form\:novoProduto{
	margin-bottom:15px !important;
	margin-top:15px;
}

#j_idt13\:form\:voltarPesquisa{
	margin-bottom:15px !important
}

.mensagemErro {
	display: block;
	list-style-position: inside;
	list-style-type: none;
	color: #C22;
	background: #FFDFDF;
	border: 2px solid #DF7D7D;
	float: left;
	padding: 6px;
	top: 43px;
	left: 4px;
	margin-bottom: 10px;
}

.mensagemSucesso{
	color: #003F13 !important;
	display: block;
	list-style-position: inside;
	list-style-type: none;
	color: #C22;
	background: #7EBD91;
	border: 2px solid #003F13;
	float: left;
	padding: 6px;
	top: 43px;
	left: 4px;
}

#j_idt13\:formPesquisa\:descricao,
#j_idt13\:formSaida\:retirar{
	margin-left:130px;
	margin-top:10px;
	margin-bottom:10px !important;
}

#j_idt13\:formPesquisa\:label_descricao{
	margin-top:10px
}

#j_idt13\:formPesquisa\:j_idt16{
	padding:5px 15px;
	margin-top:15px;
	margin-bottom:15px !important;
	position:relative;
	left:-10px;
	background-color:#ccc;
	border:0;
	color:#000;
	font-weight:bold;
}


#j_idt13\:formSaida\:retirar{
	padding:5px 15px;
	margin-top:15px;
	margin-bottom:15px !important;
	position:relative;
	left:-130px;
	background-color:#ccc;
	border:0;
	color:#000;
	font-weight:bold;
}

#j_idt13\:form\:entrada{
	padding:5px 15px;
	margin-top:15px;
	margin-bottom:15px !important;
	position:relative;
	left:-140px;
	background-color:#ccc;
	border:0;
	color:#000;
	font-weight:bold;
}

#j_idt13\:formPesquisa{
	margin-top:20px
}

img[src*="/estoque/javax.faces.resource/imagens/CSV.png.xhtml"] {
   position:relative;
   top:5px;
   left:10px
}

#j_idt14\:form\:novoProduto{
	margin-bottom:15px !important;
	margin-top:15px;
	background-color: #ccc !important;
	border:1px solid #ddd;
	color:#000;
	font-weight:bold;
	padding: 5px 15px;
	position:relative;
	left:-140px
}

#j_idt14\:form\:voltarPesquisa{
	margin-bottom:15px !important;
	background-color: #ccc !important;
	border:1px solid #ddd;
	color:#000;
	font-weight:bold;
	padding: 5px 15px;
	position:relative;
	left:-140px
}
